<main class="main">
  <div class="content">

    <div class="title">
      <h1> {{ str_login }}</h1>
    </div>

    <div class="input-wrapper">
      <label for="inp_username"> {{ str_username }}</label>
      <input id="inp_username" type="email">
    </div>

    <div class="input-wrapper">
      <label for="inp_password"> {{ str_password }}</label>
      <input id="inp_password" type="password">
    </div>

    <div class="input-wrapper">
      <label for="btn_signIn"> {{ btn_signIn }}</label>
      <input id="btn_signIn" type="button">
    </div>

    <div class="input-wrapper">
      <label for="btn_signUp"> {{ btn_signUp }}</label>
      <input id="btn_signUp" type="button">
    </div>

  </div>
</main>



<router-outlet />
